body{
    font-family: sans-serif;
    background: #6FFF91;
}

.box h2{
    text-align: left;
    padding-bottom: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: 500;
}

.box{
    width: 400px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
    border-radius: 20px;
    box-shadow: 1px 1px 2px 2px #131313;
}
.box input[type= "email"], .box input[type= "password"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 2px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}
.box input[type="email"]:focus, .box input[type="password"]:focus{
    width: 220px;
    border-color: #2ecc71;
}

.box button[type="submit"]{
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
}

.box button[type="submit"]:hover{
    cursor: pointer;
}